*{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: gray;
}

#calcu{
    width: 400px;
    height: 600px;
    background-color: black;
    /* border: 5px solid darkgray; */
    filter: opacity(50%);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#heading p{
    color: white;
    text-align: center;
    font-size: 50px;
}

#inputbox{
    width: 95%;
    margin: 0;
    padding: 2%;
}

#num1{
    height: 50px;
    text-align: right;
}

input{
    /* width: 100%;
    height: 100px;
    margin: 0 2% 0 2%;
    font-size: 30px; */
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 2px 0;
    cursor: pointer;
    width: 85%;
    border-radius: 5px;
    font-size: 20px;
}

input:hover{
    background-color: gray;
}

ul{
    display: flex;
    width: 100%;
    text-decoration: none;
    list-style: none;
    margin: 20px 0 0 10px;
    padding: 0; 
}

li{
    width: 25%;
}

button{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 2px 0;
    cursor: pointer;
    width: 85%;
    border-radius: 5px;
}

button:hover{
    background-color: gray;
}

#add{
    background-color: rgb(230, 220, 146);
}
#add:hover{
    background-color: gray;
}
#subtract{
    background-color: rgb(230, 220, 146);
}
#subtract:hover{
    background-color: gray;
}
#multiply{
    background-color: rgb(230, 220, 146);
}
#multiply:hover{
    background-color: gray;
}
#divide{
    background-color: rgb(230, 220, 146);
}
#divide:hover{
    background-color: gray;
}
#clear{
    color: white;
    background-color: rgb(114, 35, 35);
}
#clear:hover{
    background-color: gray;
}
#equals{
    background-color: rgb(133, 133, 55);
}
#equals:hover{
    background-color: gray;
}



